#dropzone {
  width: 200px;
  height:200px;
  border: 2px dashed red;
  color: blue;
  line-height: 300px;
  text-align: center;
}

.dragover {
 width: 200px;
 height:200px;
 border: 2px dashed black;
 color: blue;
 line-height: 300px;
 text-align: center; 
}